/* CARD THEME */
.Card {
  background-color: #0a0a0a;
  color: #0ff;
  text-shadow: none;
}

.Card .section {
  background-color: rgba(0, 255, 255, 0.1);
  border: 1px solid #0ff;
  box-shadow: 0 0 10px #0ff;
}

.Card .item-link {
  background-color: rgba(0, 255, 255, 0.05);
  border-color: #0ff;
  box-shadow: 0 0 5px #0ff;
}

.Card .item-link:hover {
  background-color: #1a1a1a;
  box-shadow: 0 0 15px #0ff, inset 0 0 3px #0ff;
  border-color: #0ff;
}



.Card .title,
.Card .section-title {
  color: #0ff;
}

.Card .quran-widget {
  background-color: rgba(0, 255, 255, 0.1);
  border: 1px solid #0ff;
  box-shadow: 0 0 10px #0ff;
}

.Card .quran-widget h3 {
  color: #0ff;
}

.Card .quran-widget .verse-text {
  color: #fff;
}

.Card .quran-widget .verse-meaning {
  color: #ccc;
}

.Card .quran-widget .verse-info {
  color: #aaa;
}

.Card .nav-links a,
.Card .theme-selector select,
.Card .layout-selector select {
  color: #0ff;
  border-color: #0ff;
  background-color: #0a0a0a;
  box-shadow: 0 0 5px #0ff;
}

.Card .theme-selector select option,
.Card .layout-selector select option {
  background-color: #0a0a0a;
  color: #0ff;
}

.Card .layout-selector label {
  color: #0ff;
}

.Card .card-size-selector label {
  color: #0ff;
}

.Card .theme-selector label {
  color: #0ff;
}
